# Bỏ qua file chứa mật khẩu
.env

# Bỏ qua các ảnh chụp được để tránh nặng kho chứa
*.jpg
*.png
*.jpeg
*.mp4
*.avi
settings.json
settings.json.tmp
logs/

# Bỏ qua các file rác của thư viện Python
__pycache__/
*.pyc
